<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Product Master</title>

<link rel="stylesheet" 
href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
crossorigin="anonymous">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

<link href="" th:href="@{/css/style.css}" rel="stylesheet"/>
<style>

table{
	width:100%!important;
}
thead th {
    font-size: 9px;
    font-weight: 700;
}

tbody td{
	font-size:10px;
	font-weight:100;
}

.btn{
	font-size: 9px;
    width: 44px;
    height: 25px;
}

.btn_sm{
	font-size: 9px;
    width: 75px;
    height: 25px;
}

.export{
	font-size: 9px;
    width: 90px;
    height: 25px;
}

h1{
	font-size:18px;
	
}

#countriesDropdown{
    width: 180px;
    height: 30px;
    margin-left:50px;
    border-radius:50%;
}
.inYear{
	background : red;
}

.btn-group button {
  background-color: #fff; /* Green background */
  border: 1px solid green; /* Green border */
  color: black; /* White text */
  padding: 7px 14px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size:10px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

#approve:focus
 {
     
     color:white;
     outline:none!important;
     background:#3e8e41;
  }
  
#reject:focus
 {
     
     color:white;
     outline:none!important;
     background:#3e8e41;
  }
  
#pending:focus
 {
     
     color:white;
     outline:none!important;
     background:#3e8e41;
  }

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

#approve{border-top-left-radius: 15px;border-bottom-left-radius: 15px;}

#pending{border-top-right-radius: 15px;border-bottom-right-radius: 15px;}

.a{
	border-radius: 50%;
    height: 33px;
    padding-top: 10px;
    padding-right:23px;
    width: 35px;
}

.r{
	border-radius: 50%;
    height: 33px;
    padding-top: 10px;
    padding-right:22px;
    width: 35px;
}

select{
	padding: 4px;
    width: 80px;
}



</style>
<script>
$(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#userTable thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#userTable thead');
 
    var table = $('#userTable').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    $(cell).html('<input type="text" class="inp" placeholder="' + title + '" />');
 
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('change', function (e) {
                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();
 
                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();
                        })
                        
                        .on('keyup', function (e) {
                            e.stopPropagation();
 
                            $(this).trigger('change');
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        },
    });
});

$(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#pendingTable thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#pendingTable thead');
 
    var table = $('#pendingTable').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    $(cell).html('<input type="text" class="inp" placeholder="' + title + '" />');
 
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('change', function (e) {
                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();
 
                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();
                        })
                        
                        .on('keyup', function (e) {
                            e.stopPropagation();
 
                            $(this).trigger('change');
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        },
    });
});

function myFunction() {
  var input, filter, table, tr, td, cell, i, j;
  filter = document.getElementById("searchInput").value.toLowerCase();
  table = document.getElementById("userTable");
  tr = table.getElementsByTagName("tr");
  for (i = 1; i < tr.length; i++) {
    tr[i].style.display = "none";
    const tdArray = tr[i].getElementsByTagName("td");
    for (var j = 0; j < tdArray.length; j++) {
      const cellValue = tdArray[j];
      if (cellValue && cellValue.innerHTML.toLowerCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
        break;
      }
    }
  }
}

$(document).ready(function () {
        $('select.ddlFilterTableRow').bind('change', function () {
            $('select.ddlFilterTableRow').attr('disabled', 'disabled');
           $('#tableRegisterKids').find('.Row').hide();
            var critriaAttribute = '';

            $('select.ddlFilterTableRow').each(function () {
                if ($(this).val() != '0') {
                    critriaAttribute += '[data-' + $(this).data('attribute') + '="' + $(this).val() + '"]';
                }
            });

            $('#tableRegisterKids').find('.Row' + critriaAttribute).show();
            $('#headerCount').html($('table#tableRegisterKids tr.Row:visible').length + ' Registered Kids');
            $('select.ddlFilterTableRow').removeAttr('disabled');
        });
    });
    
function approve(){
	document.getElementById("approve").style.backgroundColor = "#3e8e41";
	document.getElementById("approve").style.color = "white";
	document.getElementById("approve").style.outline = "none";
	document.getElementById("reject").style.backgroundColor = "white";
	document.getElementById("reject").style.color = "black";
	document.getElementById("reject").style.outline = "none";
	document.getElementById("pending").style.backgroundColor = "white";
	document.getElementById("pending").style.color = "black";
	document.getElementById("pending").style.outline = "none";
	var input, filter, table, table1, tr, td, cell, i, j;
  filter = document.getElementById("approve").value.toLowerCase();
  console.log(document.getElementById("approve").value.toLowerCase());
  table1 = document.getElementById("userTable");
  document.getElementById("pendingTable").style.display = "none";
  document.getElementById("userTable").style.display = "";
  tr = table1.getElementsByTagName("tr");
  for (i = 1; i < tr.length; i++) {
    tr[i].style.display = "none";
    const tdArray = tr[i].getElementsByTagName("td");
    for (var j = 0; j < tdArray.length; j++) {
      const cellValue = tdArray[j];
      if (cellValue && cellValue.innerHTML.toLowerCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
        break;
      }
      
    }
  }
}

function reject(){
	document.getElementById("reject").style.backgroundColor = "#3e8e41";
	document.getElementById("reject").style.color = "white";
	document.getElementById("reject").style.outline = "none";
	document.getElementById("approve").style.backgroundColor = "white";
	document.getElementById("approve").style.color = "black";
	document.getElementById("approve").style.outline = "none";
	document.getElementById("pending").style.backgroundColor = "white";
	document.getElementById("pending").style.color = "black";
	document.getElementById("pending").style.outline = "none";
	var input, filter, table, table1, tr, td, cell, i, j;
  filter = document.getElementById("reject").value.toLowerCase();
  console.log(document.getElementById("reject").value.toLowerCase());
  table1 = document.getElementById("userTable");
  document.getElementById("pendingTable").style.display = "none";
  document.getElementById("userTable").style.display = "";
  tr = table1.getElementsByTagName("tr");
  for (i = 1; i < tr.length; i++) {
    tr[i].style.display = "none";
    const tdArray = tr[i].getElementsByTagName("td");
    for (var j = 0; j < tdArray.length; j++) {
      const cellValue = tdArray[j];
      if (cellValue && cellValue.innerHTML.toLowerCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
        break;
      }
      
    }
  }
}

function pending(){
document.getElementById("pending").style.backgroundColor = "#3e8e41";
	document.getElementById("pending").style.color = "white";
	document.getElementById("pending").style.outline = "none";
	document.getElementById("approve").style.backgroundColor = "white";
	document.getElementById("approve").style.color = "black";
	document.getElementById("approve").style.outline = "none";
	document.getElementById("reject").style.backgroundColor = "white";
	document.getElementById("reject").style.color = "black";
	document.getElementById("reject").style.outline = "none";
	var input, filter, table, table1, tr, td, cell, i, j;
  filter = document.getElementById("pending").value.toLowerCase();
  console.log(document.getElementById("pending").value.toLowerCase());
  table = document.getElementById("pendingTable");
   document.getElementById("userTable").style.display = "none";
   document.getElementById("pendingTable").style.display = "";
  tr = table.getElementsByTagName("tr");
  for (i = 1; i < tr.length; i++) {
    tr[i].style.display = "none";
    const tdArray = tr[i].getElementsByTagName("td");
    for (var j = 0; j < tdArray.length; j++) {
      const cellValue = tdArray[j];
      if (cellValue && cellValue.innerHTML.toLowerCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
        break;
      }
      
    }
  }
}

function clickApprove(){
	$(function() {
    	$('#approve').click();
	});
	
}    

</script>
</head>
<body onload="clickApprove()">
<nav class="headbar">
<div class="btn1">
  <span class="fa fa-bars"></span>
</div>
<div class="sidebar">
  <div class="text">
    <img th:src="@{/images/logo.png}" class="img-responsive"/>
  </div>
  <ul>
    <li class="active"><a th:href="@{/}">Dashboard</a></li>
    <li>
      <a class="feat-btn">Masters
        <span class="fa fa-caret-down first"></span>
      </a>
      <ul class="feat-show">
        <li sec:authorize="hasRole('MIS')"><a th:href="@{/country}">Country Master</a></li>
        <li sec:authorize="hasRole('MIS')"><a th:href="@{/state}">State Master</a></li>
        <li sec:authorize="hasRole('MIS')"><a th:href="@{/region}">Region Master</a></li>
        <li sec:authorize="hasRole('MIS')"><a th:href="@{/district}">District Master</a></li>
        <li sec:authorize="hasRole('MIS')"><a th:href="@{/city}">City Master</a></li>
        <li sec:authorize="hasRole('MIS')"><a th:href="@{/area}">Area Master</a></li>
        <li sec:authorize="hasAnyRole('USER')"><a th:href="@{/user}">User Master</a></li>
        <li sec:authorize="hasRole('MIS')"><a th:href="@{/distributor}">Distributor Master</a></li>
        <li sec:authorize="hasRole('MIS')"><a th:href="@{/product}">Product Master</a></li>
        <li sec:authorize="hasRole('MIS')"><a th:href="@{/hqmaster}">HQ Master</a></li>
      </ul>
    </li>
    <!-- <li>
      <a href="#" class="serv-btn">Services
        <span class="fa fa-caret-down second"></span>
      </a>
      <ul class="serv-show">
        <li><a href="#">App Design</a></li>
        <li><a href="#">Web Design</a></li>
      </ul>
    </li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Overview</a></li>
    <li><a href="#">Shortcuts</a></li>
    <li><a href="#">Feedback</a></li> -->
  </ul>
</div>
<div class="btn-logout">
  <a th:href="@{/logout}"><span class="fa fa-power-off"></span></a>
</div>
</nav>
	<div class="container">
		<div class = "mt-5 mb-5">
		<div class="row">
			<div class="col-md-4">
				<h1 class="mt-2">Product List</h1>
			</div>
			<!-- <div class="col-md-3">
					
					<form>
					<select>
						<option>Code</option>
						<option>Name</option>
						<option>Type</option>
						<option>Status</option>
						<option>Region</option>
						<option>State</option>
					</select>
						<input type="text" name="keyword" size="20" th:value="${keyword}"
							id="searchInput" onkeyup="myFunction()" placeholder="Search..." />
						&nbsp; <input type="submit" value="Search" oninput="myFunction()" />
				&nbsp; <input type="button" value="Clear" id="btnClear"
					onclick="clearSearch()" />
					</form>
				</div> -->
				<div class="col-md-4">
					<div id="filter-status" class="btn-group filter" >
  						<button id="approve" onclick="approve()" value="approved">Approved</button>
  						<button id="reject" onclick="reject()" value="rejected">Rejected</button>
  						<button id="pending" onclick="pending()" value="pending">Pending</button>
					</div>
				</div>
			<!-- <div class="col-md-4">
				<a th:href="@{/product/export/excel}" class ="btn btn-success btn_sm mb-3 float-right export"> Export To Excel</a>
				<a th:href="@{/product/upload}" class ="btn btn-success btn_sm mb-3 float-right export mr-2"> Import</a>
				<a th:href="@{/product/new}" class ="btn btn-success btn_sm mb-3 float-right mr-2"> Add Product</a>
			</div> -->
			<div class="multi-button float-right col-md-4">
  				<a th:href="@{/product/new}" title="Create" class="add-btn"><img th:src="@{/images/add.png}" class="import-img"/></a>
  				<a th:href="@{/product/upload}" title="Import" class="import-btn"><img th:src="@{/images/import.png}" class="import-img"/></a>
  				<a th:href="@{/product/export/excel}" title="Export" class="export-btn"><img th:src="@{/images/export1.png}" class="import-img"/></a>
			</div><hr>
		</div>
			
			
		</div>
		
		<table class="table table-striped table-bordered mt-3" id="userTable">
			<thead class = "table-light">
				<tr class="header">
					<th>Name </th>
					<th>Code</th>
					<th>Brand</th>
					<th>Category</th>
					<th>Family </th>
					<th>Variant</th>
					<!-- <th>Group Name</th>
					<th>UOM</th>
					<th>PTD</th>
					<th>PTR</th>
					<th>Status</th>
					<th>Description</th>
					<th>Create Date</th>
					<th>Inactive Date </th>
					<th>Sales Diary Code</th>
					<th>Mrp</th> -->
					<th>Approval Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aproduct: ${aproduct}">
					<td th:text="${aproduct.pname}"></td>
					<td th:text="${aproduct.code}"></td>
					<td th:text="${aproduct.brand}"></td>
					<td th:text="${aproduct.category}"></td>
					<td th:text="${aproduct.family}"></td>
					<td th:text="${aproduct.variant}"></td>
					<!-- <td th:text="${aproduct.group_name}"></td>
					<td th:text="${aproduct.uom}"></td>
					<td th:text="${aproduct.ptd}"></td>
					<td th:text="${aproduct.ptr}"></td>
					<td th:text="${aproduct.status}"></td>
					<td th:text="${aproduct.description}"></td>
					<td th:text="${aproduct.create_date}"></td>
					<td th:text="${aproduct.inactive_date}"></td>
					<td th:text="${aproduct.sales_diary}"></td>
					<td th:text="${aproduct.mrp}"></td> -->
					<td th:text="${aproduct.approval_status}" class="astatus" id="aStatus" onload="loadStatus()"></td>
					<td>
						<a th:href="@{/product/edit/{id}(id=${aproduct.id})}"
						 class="btn btn-success">Edit</a>
					</td>	
				</tr>
			</tbody><!-- 
			<tfoot>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Type</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </tfoot> -->
		</table>
		<table class="table table-striped table-bordered mt-3" id="pendingTable">
			<thead class = "table-light">
				<tr class="header">
					<th>Name </th>
					<th>Code</th>
					<th>Brand</th>
					<th>Category</th>
					<th>Family </th>
					<th>Variant</th>
					<!-- <th>Group Name</th>
					<th>UOM</th>
					<th>PTD</th>
					<th>PTR</th>
					<th>Status</th>
					<th>Description</th>
					<th>Create Date</th>
					<th>Inactive Date </th>
					<th>Sales Diary Code</th>
					<th>Mrp</th> -->
					<th>Approval Status</th>
					<th>Approval Action</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aproduct: ${aproduct}">
					<td th:text="${aproduct.pname}"></td>
					<td th:text="${aproduct.code}"></td>
					<td th:text="${aproduct.brand}"></td>
					<td th:text="${aproduct.category}"></td>
					<td th:text="${aproduct.family}"></td>
					<td th:text="${aproduct.variant}"></td>
					<!-- <td th:text="${aproduct.group_name}"></td>
					<td th:text="${aproduct.uom}"></td>
					<td th:text="${aproduct.ptd}"></td>
					<td th:text="${aproduct.ptr}"></td>
					<td th:text="${aproduct.status}"></td>
					<td th:text="${aproduct.description}"></td>
					<td th:text="${aproduct.create_date}"></td>
					<td th:text="${aproduct.inactive_date}"></td>
					<td th:text="${aproduct.sales_diary}"></td>
					<td th:text="${aproduct.mrp}"></td> -->
					<td th:text="${aproduct.approval_status}" class="astatus" id="aStatus"></td>
					<td data-type="option" class="text-center action" id="action">
						<span class="isDisabled">
							<a th:href="@{/product/approve/{id}(id=${aproduct.id})}" class="btn btn-success a" id="a">
							<i class="fa fa-check"></i>
							</a>
						</span>
						<a th:href="@{/product/reject/{id}(id=${aproduct.id})}" class="btn btn-danger r" id="r"><i class="fa fa-times"></i></a>
					</td>
					<td>
					<td>
						<a th:href="@{/product/edit/{id}(id=${aproduct.id})}"
						 class="btn btn-success">Edit</a>
					</td>	
				</tr>
			</tbody>
		</table> 
	</div>
<script>

$('.btn1').click(function(){
  $(this).toggleClass("click");
  $('.sidebar').toggleClass("show");
});
$('.feat-btn').click(function(){
  $('nav ul .feat-show').toggleClass("show");
  $('nav ul .first').toggleClass("rotate");
});
$('.serv-btn').click(function(){
  $('nav ul .serv-show').toggleClass("show1");
  $('nav ul .second').toggleClass("rotate");
});
$('nav ul li').click(function(){
  $(this).addClass("active").siblings().removeClass("active");
});


</script>
</body>
</html>